<div class="span12">
  <form>
    <label>Name</label>
    <input type="text" class="input-xlarge" id="name">
    <label>Email</label>
    <input type="text" class="input-xlarge" id="email">
    <label>Subject</label>
    <input type="text" class="input-xlarge" id="subject">
    <label>Message</label>
    <textarea class="input-xlarge"></textarea>
    <br>
    <button type="submit" class="btn">Go</button>
  </form>
</div>
