<html>
  <link rel='stylesheet' href='css/bootstrap.css'>
  <link rel='stylesheet' href='css/style.css'>
  <script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
  <script src='js/bootstrap.js'></script>
  <head>
    <title>About</title>
  </head>

  <body>
    <div>
      <a href='/'>home</a>
      <a href='/about'>about</a>
      <a href='/work'>work</a>
    </div>
    <hr/>
    <%= yield %>
  </body>
</html>