<html>
  <link rel='stylesheet' href='css/bootstrap.css'>
  <link rel='stylesheet' href='css/style.css'>
  <script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
  <script src='js/bootstrap.js'></script>
  <head>
    <title>Twitter Bootstrap Test</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Twitter Bootstrap Test</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/work">Work</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class='container'>
      hello!
      <div class='span9'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
