
/* for bday */
body {
  background: #222438;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: bold;
  font-size: 30px;
}

h1 {
 font-size: 120px;
 font-weight: normal;
 margin: 0;
 font-family: 'Bowlby One SC',"Arial Black",Gadget,sans-serif;
 text-transform: uppercase;
 color: #FFB000;
 text-shadow: 0 2px 1px #000;
 line-height: 1;
}

h2 {
 font-size: 80px;
 font-weight: normal;
 margin: 0;
 text-shadow: 0 2px 1px #000;
 color: #FFB000;
 font-family: 'Bowlby One SC',"Arial Black",Gadget,sans-serif;
 text-transform: uppercase;
}

h3 {
 font-size: 40px;
 font-weight: normal;
 margin: 0;
 color: #D92B00;
 text-shadow: 0 2px 1px #000;
 font-family: 'Bowlby One SC',"Arial Black",Gadget,sans-serif;
 text-transform: uppercase;
}

.scrollblock {
  position: relative;
  margin: 0;
  width: 100%;
  height: 1000px;
}
